@inherits LayoutComponentBase
@using Microsoft.Extensions.Options

@inject IConfiguration Configuration;

<PageTitle>BlazorAppEvergreenOIDC</PageTitle>

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (Convert.ToBoolean(Configuration["OpenIDConnect:ShowTokenVisualiser"]))
        {
            <TokenVisualiser />
        }
        @if (Convert.ToBoolean(Configuration["OpenIDConnect:ShowClaimsVisualiser"]))
        {
            <ClaimsVisualiser />
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                H1 = new H1()
                {
                    FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "3rem",
                    FontWeight = 500,
                    LineHeight = 1.6,
                    LetterSpacing = ".0075em"
                },
                H2 = new H2()
                {
                    FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "2rem",
                    FontWeight = 500,
                    LineHeight = 1.6,
                    LetterSpacing = ".0075em"
                }
            }
        };
}
